:root {
    --orange_1: rgb(255, 148, 1);
    --orange_2: rgb(255, 113, 11);
    --orange_3: rgb(255, 53, 11);
    --white: rgb(255, 255, 255);
}

*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.banner-img{
    border-radius: 55px;
    
}
img {
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    margin: 2.5rem 0;
    padding: 1rem;
    display: block;
    align-items: center;
    width: 10rem;
}

button {
    border-radius: 30px;
    background: linear-gradient(to right, var(--orange_1), var(--orange_2), var(--orange_3));
    box-shadow: 1px 1px 10px 1px black;
    margin: 1rem;
}



.rewards-box{
    display: grid;
    justify-content: center;
    text-align: center;
}

.text{
    padding: 0.2rem 1rem;
    margin: 0 auto;
    width: 50%;
    text-align:center;
    color: var(--white);
    border-radius: 10px;
    background:linear-gradient(to right, var(--orange_1), var(--orange_2), var(--orange_3));
}

hr{
    display: block;
    height: 2px;
    background-color: black;
    width: 80%;
    box-shadow: 1px 0px 5px black;
    margin-top: 3rem;
}

/*Modal*/
#myModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 25px;
    width: 70%;
}

/* Estilos adicionales para el overlay del modal */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.reward-point{
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 5px black;
}